# generated build directory
/build/

# VS Code settings
/.vscode/

# caches
.cache/
.mypy_cache/
__pycache__/

# old dependency directory
external

# other
**._*

# direnv
/.envrc

**.DS_Store.worktrees/
.worktrees/
